/* Start Variable */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
    /* padding-top: var(--section-padding);
    padding-bottom: var(--section-padding); */
}

/* End Variable */

/* Start Global Rules */
* {
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.goto-up {
    display: none;
}

.goto-up i {
    position: fixed;
    width: 40px;
    height: 40px;
    color: var(--section-background);
    background-color: var(--main-color-alt);
    border-radius: 5px;
    right: 50px;
    bottom: 40px;
    font-size: 22px;
    cursor: pointer;
    z-index: 500;
}

@media (max-width: 767px) {
    .goto-up i {
        right: 20px;
    }
}

/* FrameWork */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* FrameWork */

/* اعملت هاي علشان بدي اللون اللي ورا يملا الشاشة لكن الكونتنت اللي ورا تملا من الاول للاخر */
.container {
    /* كتبنا ال بادنك علشان الكلام في نسخة الموبايل ما يبلش من اول الشاشة */
    padding-left: 15px;
    padding-right: 15px;
    /* علشان الكونتينر يمسك العناصر في النص */
    margin-left: auto;
    margin-right: auto;
}

/* Small screens */
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}

/* Medium screens */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Sart Component */
.main-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
    padding: 10px 20px;
    border: 2px solid black;
    margin: 0 auto 80px;
    z-index: 1;       /* يبقوا وراه fill in animation علشان العناصر اللي هتعمل  */
    position: relative;
}

.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    animation: left-move 0.5s linear forwards;
    z-index: -1;
}

.main-title:hover::after {
    animation: right-move 0.5s linear forwards;
    z-index: -1;
}

.main-title:hover {
    color: white;
    border: 1px solid white;
    transition-delay: 0.5s;
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

.spikes {
    position: relative;
}

.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
    z-index: 1;
}

.dots {
    background-image: url(../image/dots.png);
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}

.dots-up {
    top: 200px;
    right: 0;
}

.dots-down {
    bottom: 200px;
    left: 0;
}

/* End Component */

/***************************************************************************/

/* Start header */
header {
    background-color: white;
    position: relative;
    --webkit-box-shadow: 0 0 10px #ddd;
    --moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;         /* عشلان قصة المنيو اللي هتطلع هنشوف هتظهر من وين */
}

@media (max-width: 767px) {
    header .container {
        justify-content: center;
    }
}

header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    /* زي مهو ما يتغير ويصغر height header اعملت الحركة هاي علشان لو بدي اخفي القوائم يضل  */
    height: 72px;          /* header هاي ارتفاع ال */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    header .logo {
        width: 100%;
        height: 40px;
    }
}

header .main-nav {
    display: flex;
}


/* menue تابعة لبعد ال */
header .main-nav > li:hover .main-menue {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);   /* زودت اشي بسيط بس علشان ما تلزق باالهيدر */
}

header .main-nav > li > a {
    /* زي مهو ما يتغير ويصغر height header اعملت الحركة هاي علشان لو بدي اخفي القوائم يضل  */
    height: 72px;          /* header هاي ارتفاع ال */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    padding: 0 30px;        /* height=72 اعملت من اليمين واليسار بس لانه الاعلى والاسفل تعاملت معهم بال */
    transition: var(--main-transition);
    overflow: hidden;  /*فعلشان اخفيه اعملت هاي  leftt=-100% اللي تحت اعملتله  before اعملتها علشان ال */
}

header .main-nav > li > a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background-color: var(--main-color-alt);
    transition: var(--main-transition);
}

/* علشان يظهر */
header .main-nav > li > a:hover::before {
    left: 0;
}

@media (max-width: 767px) {
    header .main-nav > li > a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

header .main-nav > li > a:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

header .main-menue {
    position: absolute;  /* علشان القائمة تطلع برة الهيدر */
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color-alt);
    z-index: 1000;   /* هاي بكتبها بعد ما اخلص كل حاجة علشان ترجع ورا كل العناصر */
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);   /* علشان تنزل لتحت شوية */
    display: none;
    transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width: 767px) {
    header .main-menue {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}

header .main-menue .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    header .main-menue .image {
        display: none;
    }
}


header .main-menue .links {
    min-width: 250px;    /* علشان اضمن انه القوائم ما تنزل لتحت يعني الكلام نصه ينزل لتحت وتصير لخبطة */
    flex: 1;  /* علشان لما اخفي الصورة تتوزع القائمتين صح على اليمين وعلى اليسار */
}

header .main-menue .links li {
    position: relative;
}

header .main-menue .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
    header .main-menue .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}

header .main-menue .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
}

header .main-menue .links li:hover::before {
    width: 100%;
}

header .main-menue .links li a {
    color: var(--main-color);
    font-weight: bold;
    display: block;
    padding: 15px;       /* display=block مش راح تشتغل الا بال */
    font-size: 18px;
}

header .main-menue .links li a i {
    margin-right: 10px;
}
/* End header */

/***************************************************************************/

/* Start landing */
.landing {
    position: relative;    /* اللي هعمله ما يطلع برة before علشان ال */
}

.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--section-background);
    transform: skewY(-6deg);
    z-index: -1;
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 72px);      /*  72px هاي حجم الهيدر اللي فوق */
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.landing .container .text {
   flex: 1;       /* علشان اخليه ياخد مساحة قد الصورة وما اشي يطغى فوق اشي */
}

@media (max-width: 991px) {
    .landing .container .text {
        text-align: center;
    }
}

.landing .container .text h1 {
    font-size: 40px;
    margin: 0;
    font-weight: bold;
}

@media (max-width: 991px) {
    .landing .container .text h1 {
        font-size: 28px;
    }
}

.landing .container .text p {
    color: #666;
    font-weight: normal;
    line-height: 1.7;
    font-size: 23px;
    max-width: 500px;
    margin: 5px 0;
}

@media (max-width: 767px) {
    .landing .container .text p {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .landing .container .text p {
        margin: 10px auto;
    }
}

.landing .container .image img {
    width: 500px;
    position: relative;    /* ضروري تنكتب والا مش هيشتغل الانيميشن */
    animation:  up-and-down 5s linear infinite;
}

@keyframes up-and-down {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}

@media (max-width: 991px) {
    .landing .container .image {
        display: none;
    }
}

.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
}

@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40%, 60% {
        transform: translateY(-15px);
    }
}
/* End landing */

/***************************************************************************/

/* Start Articles */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    position: relative;
}

.articles .box {
    position: relative;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    --webkit-box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    --moz-box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}

.articles .box:hover {
    transform: translateY(-10px);
    --webkit-box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    --moz-box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .box img {
    max-width: 100%;
}

.articles .box .content {
    padding: 20px;
}

.articles .box .content h3 {
    margin: 0;
}

.articles .box .content p {
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
}

.articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .box .info a {
    color: var(--main-color);
    font-weight: bold;
}

.articles .box .info i {
    color: #1787e0;
    transition: 0.3s ease-in;
}

.articles .box:hover .info i {
   animation: moving-arrow 0.6s linear infinite;
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}

/* End Articles */

/***************************************************************************/

/* Start Articles */
.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .box {
    padding: 15px;
    background-color: white;
    --webkit-box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 /12%);
    --moz-box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 /12%);
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 /12%);
    
}

.gallery .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .box .image::before {
   content: "";
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   background-color: rgba(255 255 255 / 20%);
   width: 0;
   height: 0;
   opacity: 0;
   z-index: 2;
}

.gallery .box .image:hover::before {
    animation: flashing 0.7s;
}

@keyframes flashing {
    0%, 
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

.gallery .box img {
    max-width: 100%;
    transition: var(--main-transition);
}

.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}
/* End Articles */

/***************************************************************************/

/* Start Features */
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: white;   /* يفضل هاد ابيض زي مهو body للاحتياط علشان لو غيرت لون ال */
    position: relative;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .box {
    border: 1px solid #ccc;
    text-align: center;
}

.features .box .image {
    position: relative;
    overflow: hidden;
}

.features .box img {
    max-width: 100%;
}

.features .box .image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    z-index: 100;
    transition: var(--main-transition);
}

.features .box:hover .image::after {
    border-width: 170px 500px 170px 0;
}

.features .box .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;        /* عللشان الخط اللي فوق العنوان يختفي */
    width: 100%;
    height: 100%;
}

.features .quality .image::before {
    background-color: rgba(245, 63, 54, 0.479);
}

.features .time .image::before {
    background-color: rgba(0, 150, 135, 0.479);
}

.features .passion .image::before {
    background-color: rgba(33, 149, 243, 0.479);
}

.features .box h2 {
    position: relative;
    width: fit-content;
    margin: auto;
    font-size: 40px;
    z-index: 200;
}

.features .box h2::before {
    content: "";
    position: absolute;
    left: 15px;
    bottom: -20px;
    width: calc(100% - 30px);
    height: 5px;
}
.features .quality h2::before {
    background-color: #f44036;
}

.features .time h2::before {
    background-color: #009688;
}

.features .passion h2::before {
    background-color: var(--main-color);
}

.features .box p {
    color: #777;
    line-height: 2;
    padding: 25px;
    margin: 30px 0;
    font-size: 20px;
    z-index: 200;
}

.features .box a {
    display: block;
    font-size: 25px;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto 30px;
    border-radius: 6px;
    padding: 10px 30px;
    transition: var(--main-transition);
}

.features .quality a {
    color: #f44036;
    border: 3px solid #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .time a {
    color: #009688;
    border: 3px solid #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .passion a {
    color: var(--main-color);
    border: 3px solid var(--main-color);
    background: linear-gradient(to right, var(--main-color) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .box:hover  a {
    background-position: left bottom;
    color: white;
}
/* End Features */

/***************************************************************************/

/* Start Testimonials Section */
.testimonials {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);   /* يفضل هاد ابيض زي مهو body للاحتياط علشان لو غيرت لون ال */
    position: relative;
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .box {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    --webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    --moz-box-shadow: 0 2px 15px rgb(0 0 0 / 7%);
    box-shadow: 0 2px 15px rgb(0 0 0 / 7%);
    position: relative;          /* position علشان اقدر اوزع الصورة في البوكس بال */
}

.testimonials .box img {
    position: absolute;
    right: 0;
    top: -40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    outline: 10px solid var(--section-background);
}

.testimonials .box h3 {
    margin: 0 0 10px;
}

.testimonials .box .title {
    color: #777;
    margin-bottom: 10px;
    display: block;
}

.testimonials .box .rate .filled {
    color: #ffc107;
}

.testimonials .box p {
    color: #777;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 0;
}
/* End Testimonials Section */

/***************************************************************************/

/* Start Team */
.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.team .box {
    position: relative;
}

.team .box::before,
.team .box::after {
    content: "";
    position: absolute;
    background-color: #f3f3f3;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
}

.team .box::before {
    width: calc(100% - 60px);   /* علشان أقص منه شوية من ناحية اليسار */
    z-index: -2;        /* after=-1 خليته هيك علشان بدي ال */
}

.team .box::after {
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
}

.team .box:hover::after{
    width: calc(100% - 60px);
}

.team .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team .box .data img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}

.team .box:hover img {
    filter: grayscale(100%);
}

.team .box .data .social {
    width: 60px;    /* هاي المساحة اللي سبتها من الصورة */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team .box .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team .box .data .social a i {
    color: #777;
    transition: var(--main-transition);
}

.team .box .data .social a:hover i {
    color: var(--main-color);
}

.team .box .info {
    padding-top: 15px;
    padding-left: 80px;
}

.team .box .info h3 {
    margin-bottom: 0;
    color: var(--main-color);
    font-size: 22px;
    font-weight: bold;
    transition: var(--main-transition);
}

.team .box:hover .info h3 {
    color: #777;
}

.team .box .info p {
    margin-top: 10px;
    margin-bottom: 25px;
}
/* End Team */

/***************************************************************************/

/* Start Services */
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .boxs {
    background-color: white;
    --webkit-box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    --moz-box-shadow:0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    box-shadow:0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    transition: var(--main-transition);
    position: relative;
}

.services .boxs::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -3px;
    width: 0;
    height: 3px;
    background-color: var(--main-color-alt);
    transition: var(--main-transition);
}

.services .boxs:hover::before {
    width: 100%;
}

.services .boxs:hover {
    transform: translateY(-10px);
}

.services .boxs > i {
    margin: 30px auto 20px;
    color: #D5D5D5;
    display: block;
    text-align: center;
}

.services .boxs > h3 {
    color: var(--main-color);
    font-size: 25px;
    text-align: center;
    margin: 20px 0 40px;
}

.services .boxs .info {
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    text-align: right;
}

.services .boxs .info::before {
    content: "0" counter(services);
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.services .boxs .info::after {
    content: "";
    position: absolute;
    top: 0;
    left: 80px;
    width: 50px;
    height: calc(100% + 0.4px);
    transform: skewx(-30deg);
    background-color: #D5D5D5;
}

.services .boxs .info a {
    color: var(--main-color);
}
/* End Services */

/***************************************************************************/

/* Start Skills */
.our-skills {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.our-skills .container {
    display: flex;
    align-items: center;
}

.our-skills .container img {
    max-width: 100%;
}

@media (max-width: 991px) {
    .our-skills img {
        display: none;
    }
}

.our-skills .skills {
    flex: 1;
}

.our-skills .skills .skill {
    padding-bottom: 20px;
}

.our-skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.our-skills .skill h3 span {
    color: var(--main-color);
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    padding: 3px 5px;
    font-size: 12px;
}

.our-skills .skill .the-progrss {
    height: 30px;
    background-color: #EEE;
    position: relative;
}

.our-skills .skill .the-progrss span {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background-color: var(--main-color);
}
/* End Skills */

/***************************************************************************/

/* Start Work Steps */
.work-steps {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}

.work-steps .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .work-steps .container {
        flex-direction: column;
    }
}

.work-steps .container .image {
    max-width: 100%;
    margin-right: 100px;       /* gab بقدر اعملها بال */
}

@media (max-width: 991px) {
    .work-steps .container .image {
        margin: 0 0 50px;
    }
}

.work-steps .content .info {
    background-color: #f6f5f5;
    border: 2px solid white;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

@media (max-width: 991px) {
    .work-steps .content .info {
        flex-direction: column;
        text-align: center;
    }
}

.work-steps .content .info::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    width: 0;
    height: 0;
    z-index: -1;
    transition: var(--main-transition);
}

.work-steps .content .info:hover::before {
    width: 100%;
    height: 100%;
}

.work-steps .content .info > img {
    width: 64px;
    margin-right: 30px;
}

@media (max-width: 991px) {
    .work-steps .content .info > img {
        margin: 0 0 30px;
    }
}

.work-steps .content .info .text h3 {
    font-size: 22px;
    margin: 0;
}

.work-steps .content .info .text p {
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
}
/* End Work Steps */

/***************************************************************************/

/* Start Latest Events */
.events {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.events .container img {
   max-width: 450px;
}

@media (max-width: 991px) {
    .events img {
        display: none;
    }
}

.events .info {
    flex: 1;
    text-align: center;
}

.events .info .time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    gap: 10px;
}

.events .info .time .units {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    width: 76px;
    transition: var(--main-transition);
}

.events .info .time .units:hover,
.events .info .time .units:hover span:last-child {
    border-color: var(--main-color);
}

.events .info .time .units span {
    display: block;
}

.events .info .time .units span:first-child {
    color: var(--main-color);
    font-size: 35px;
    font-weight: bold;
    padding: 15px;
}

.events .info .time .units span:last-child {
    padding: 8px 10px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
    transition: var(--main-transition);
}

.events .info .title {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 0;
}

.events .info .description {
    color: #777;
    font-size: 19px;
    line-height: 1.7;
    margin-top: 10px;
}

.events .subscribe {
    width: 100%;
    margin-top: 50px;
}

.events form {
    width: 600px;          /* علشان ما تعديه */
    background-color: #f6f5f5;
    margin: 20px auto;
    padding: 30px 40px;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {
    .events form {
        max-width: 100%;
        flex-direction: column;
        border-radius: 0;
    }
}

.events form input[type="email"] {
    padding: 20px;
    flex: 1;
    border: none;
    caret-color: var(--main-color);
    border-radius: 50px;
}

@media (max-width: 767px) {
    .events form input[type="email"] {
        border-radius: 0;
    }
}

.events form input[type="email"]:focus {
    outline: none;
}

.events form input[type="email"]::placeholder {
    transition: opacity var(--main-transition);
}

.events form input[type="email"]:focus::placeholder {
    opacity: 0;
}

.events form  input[type="submit"] {
    color: white;
    background-color: var(--main-color);
    font-weight: bold;
    padding: 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
}

@media (max-width: 767px) {
    .events form input[type="submit"] {
        border-radius: 0;
    }
}

.events form  input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}
/* End Latest Events */

/***************************************************************************/

/* Start pricing */
.pricing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing .plan {
    background-color: white;
    text-align: center;
    --webkit-box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    --moz-box-shadow:0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    box-shadow:0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    z-index: 1;
    position: relative;
    transition: var(--main-transition);
}

.pricing .plan::before,
.pricing .plan::after {
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #f6f5f5;
    z-index: -1;
    transition: var(--main-transition);
}

.pricing .plan::before {
    top: 0;
    left: 0;
}

.pricing .plan::after {
    bottom: 0;
    right: 0;
}

.pricing .plan:hover::before,
.pricing .plan:hover::after{
    width: 100%;
}

.pricing .popular {
    top: -20px;
}

@media (max-width: 1200px) {
    .pricing .popular {
        top: 0;
    }
}

.pricing .popular .label {
    position: absolute;
    writing-mode: vertical-rl;
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    padding: 10px 10px 35px 10px;
    font-weight: bold;
    right: 20px;
    width: 40px;
}

.pricing .popular .label::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 20px;
}

.pricing .title {
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0;
    letter-spacing: -1px;
}

.pricing img {
   width: 80px;
   margin-bottom: 30px;
}

.pricing .price {
    margin-bottom: 20px;
}

.pricing .price span {
    display: block;
}

.pricing .price .amount {
    color: var(--main-color);
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 5px;
}

.pricing .price .time {
    color: #777;
}

.pricing ul {
    text-align: left;
}

.pricing ul li {
    padding: 20px;
    border-top: 1px solid #EEE;
}

.pricing ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    color: var(--main-color);
    font-weight: 900;
}

.pricing a {
    display: block;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 6px;
    border: 2px solid var(--main-color);
    width: fit-content;
    margin: 30px auto 40px;
    transition: var(--main-transition);
}

.pricing a:hover {
    color: white;
    background-color: var(--main-color-alt);
    border-color: var(--main-color-alt);
}
/* End pricing */

/***************************************************************************/

/* Start Top Videos */
.videos {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.videos .container {
    display: flex;
}

.videos .holder {
    display: flex;
    justify-content: center;
    background-color: var(--section-background);
    border: 1px solid #ddd;
}

@media (max-width: 991px) {
    .videos .holder {
      flex-direction: column;
    }
  }

.videos .holder .list {
    min-height: 300px;
    background-color: white;
}

.videos .holder .list .name {
    background-color: #F4F4F4;
    padding: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.videos .holder .list ul li {
    border-top: 1px solid var(--section-background);
    padding: 20px;
    cursor: pointer;
    transition: var(--main-transition);
}

.videos .holder .list ul li:hover {
    color: var(--main-color);
    background-color: #FAFAFA;
}

.videos .holder .list ul li span {
    display: block;
    color: #777;
    margin-top: 10px;
}

.videos .preview {
    background-color: #e2e2e2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.videos .preview img {
    max-width: 100%;
}

.videos .preview .info {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
}
/* End Top Videos */

/***************************************************************************/

/* Start Stats */
.stats {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-image: url(../image/stats.jpg);
    background-size: cover;
    min-height: 300px;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.884);
}

.stats h2 {
    font-size: 40px;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;        /* علشان يظهر فوق الطبقة الشفافة */
}

@media (max-width: 767px) {
    .stats h2 {
        font-size: 30px;
    }
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.stats .awesome {
    background-color: white;
    padding: 30px 15px;
    text-align: center;
    opacity: 0.8;
    border-radius: 6px;
    transition: var(--main-transition);
    position: relative;
}

.stats .awesome:hover {
    opacity: 1;
}

.stats .awesome::before,
.stats .awesome::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: 1s;
}

.stats .awesome::before {
    left: 0;
    bottom: 0;
}

.stats .awesome::after {
    right: 0;
    top: 0;
}

.stats .awesome:hover::before,
.stats .awesome:hover::after {
    height: 100%;
}

.stats .awesome i {
    margin-bottom: 10px;
}

.stats .awesome .number {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stats .awesome .text {
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
/* End Stats */

/***************************************************************************/

/* Start Discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.discount .content {
    text-align: center;
    padding: 40px 20px;
}

.discount .image {
    background-image: url(../image/discount-background1.jpg);
    background-size: cover;
    color: white;
    flex-basis: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    animation: change-background 10s linear infinite;
}

@media (max-width: 991px) {
    .discount .image {
        flex-basis: 100%;
    }
}

@keyframes change-background {
    0%, 100% {
        background-image: url(../image/discount-background1.jpg);
    }
    50% {
        background-image: url(../image/discount-background2.jpg);
    }
}

.discount .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}

.discount .image h2 {
    font-size: 40px;
    letter-spacing: -2px;
}

.discount .image p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 500px;
    margin-top: 30px;
}

.discount .image img {
    width: 300px;
    max-width: 100%;      /* علشان شاشات الموبايل */
}

.discount .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

@media (max-width: 991px) {
    .discount .form {
        flex-basis: 100%;
    }
}

.discount .form .content h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-bottom: 35px;
}

.discount .form .input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #F9F9F9;
    caret-color: var(--main-color);
}

.discount .form .input:focus {
    outline: none;
    border-color: var(--main-color);
}

.discount .form .input::placeholder,
.discount .form textarea::placeholder {
    transition: var(--main-transition);
}

.discount .form .input:focus::placeholder,
.discount .form textarea:focus::placeholder {
    opacity: 0;
}

.discount .form textarea {
    resize: none;        /* علشان ما حد يقدر يعدل بالطولو العرض تبعها */
    height: 200px;
}

.discount .form textarea:focus {
    outline: none;
    border-color: var(--main-color);
}

.discount .form input[type="submit"] {
    display: block;
    width: 100%;
    color: white;
    border: none;
    background-color: var(--main-color);
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);
}

.discount .form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}
/* End Discount */

/***************************************************************************/

/* Start Footer */
.footer {
    padding: 70px 0 0;
    background-color: #191919;
}

@media (max-width: 767px) {
    .footer {
        text-align: center;
    }
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.footer .info h3 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}

.footer .info .social a {
    width: 50px;
    height: 50px;
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
    transition: var(--main-transition);
}

.footer .info .social .facebook:hover {
    background-color: #1877f2;
}

.footer .info .social .twitter:hover {
    background-color: #1da1f2;
}

.footer .info .social .youtube:hover {
    background-color: #ff0000;
}

.footer .info .text {
    color: #b9b9b9;
    line-height: 2;
}

@media (max-width: 767px) {
    .footer .info .text {
        margin: 0 auto 30px;
        max-width: 350px;
    }
}

.footer .info .links li {
    padding: 15px 0;
    transition: var(--main-transition);
}

.footer .info .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .info .links li:hover {
    padding-left: 10px;
}

.footer .info .links a {
    color: #b9b9b9;
    transition: var(--main-transition);
}

.footer .info .links li:hover a{
    color: white;
}

.footer .info .links a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    color: var(--main-color);
    font-weight: 900;
    margin-right: 10px;
}

@media (max-width: 767px) {
    .footer .info:nth-of-type(2) {
        margin-bottom: 30px;
    }
}

.footer .info .title {
    color: #b9b9b9;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .footer .info .title {
        flex-direction: column;
    }
}

.footer .info .title i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}

@media (max-width: 767px) {
    .footer .info .title i {
        margin-bottom: 15px;
    }
}

.footer .info .title .address {
    line-height: 1.7;
    flex: 1;   /* علشان اخليهم كلهم قد بعض */
}

.footer .info .title .number {
    line-height: 1.7;
}

.footer .info .title .number span {
    display: block;
}

.footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}

.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
/* End Footer */
